<div class="player-left">
    
</div>

<div class="player-center">
    <div class="player-controls">
        <audio class="audioPlayer" src=""></audio>
        <button class="control-btn active">
            <i class="fas fa-random"></i>
        </button>
        <button class="control-btn">
            <i class="fas fa-step-backward"></i>
        </button>
        <button class="control-btn play-btn">
            <i class="fas fa-play"></i>
        </button>
        <button class="control-btn">
            <i class="fas fa-step-forward"></i>
        </button>
        <button class="control-btn">
            <i class="fas fa-redo"></i>
        </button>
    </div>
    <div class="progress-container">
        <span class="time">0:52</span>
        <input class="progress-bar progress" type="range" value="70" min="0" max="100">
        <span class="time">4:59</span>
    </div>
</div>

<div class="player-right">
    <button class="control-btn">
        <i class="fas fa-microphone"></i>
    </button>
    <div class="volume-container">
        <button class="control-btn">
            <i class="fas fa-volume-down"></i>
        </button>
        <div class="volume-bar">
            <div class="volume-fill" style="width: 70%"></div>
            <div class="volume-handle"></div>
        </div>
    </div>
    <button class="control-btn">
        <i class="fas fa-expand"></i>
    </button>
</div>